html {
    color:#0FFF95;
    background-color:#A09D92;
    font-family: "Montsserat", sans-serif
}

body {margin: 0}

.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    position: fixed;
    top: 30%;
    width: 100%;
    z-index: 2000;
}

#scroll2 {
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: 2000;
}


.text {
    font-family:"EB Garamond", serif ;
    font-style: normal;
    font-size: 7rem;
    font-weight: 600;
    text-transform: lowercase;
    color: #0FFF95;
    animation: animate_text 60s linear infinite;
}

.text span {
    margin: 0 40px;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

#picture_of_me {
    mix-blend-mode: luminosity;
    width: 40%;
}

.navbar {
    font-weight: 800;
    font-size: 3.5rem;
    color: #0FFF95; 
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2000; 
}

.menu_drop {
    color: #0FFF95;
    text-decoration: none;
    cursor: pointer;
    padding: 9px
}

.menu_drop:hover, .menu_drop:focus {
    font-style: italic;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color:#0FFF95;
    text-decoration: none;
    display: block;
    padding: 8px
}

.dropdown-content a:hover {
    font-style: italic;
}

.show {
    display:block;
}

.introduction {
    font-weight: 700;
    padding-right: 8px;
    text-align: right;
}

.introduction h2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#separator {
    margin-bottom: 6%;
}