html {
    color:#0FFF95;
    background-color:#A09D92;
    font-family: "Montsserat", sans-serif
}

body {margin: 0}

.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.text {
    font-family:"Montsserat", sans-serif ;
    font-style: italic;
    font-size: 90px;
    font-weight: 900;
    text-transform: lowercase;
    color: #0FFF95;
    animation: animate_text 40s linear infinite;
}

.text span {
    margin: 0 40px;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

#picture_of_me {
    mix-blend-mode: luminosity;
}

.navbar {
    background-color: #0FFF95;
    font-weight: 800;
    font-size: 45px;
    color: #A09D92;    
    position: sticky
}

.menu_drop {
    color: #A09D92;
    text-decoration: none;
    cursor: pointer;
    padding: 9px
}

.menu_drop:hover, .menu_drop:focus {
    font-style: italic;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0FFF95;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color:#A09D92;
    text-decoration: none;
    display: block;
    padding: 8px
}

.dropdown-content a:hover {
    font-style: italic;
}

.show {display:block;}

.introduction {
    font-weight: 700;
    padding: 8px;
}

.introduction h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

