html {
    color:#0FFF95;
    background-color:#A09D92;
    font-family: "Montserrat", sans-serif;
}

body {margin: 0}

.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 2000;
}

#scroll2 {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 2000;
}

.text {
    font-family:"EB Garamond", serif ;
    font-style: normal;
    font-size: 7rem;
    font-weight: 600;
    text-transform: lowercase;
    color: #0FFF95;
    animation: animate_text 60s linear infinite;
}

.text span {
    margin: 0 40px;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

.navbar {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #0FFF95; 
    position: sticky;
    top: 0;
    z-index: 2000;
    margin-left: 0.5%;
    margin-bottom: 3em;
    margin-right: 0 
}

#logo {
    color: #0FFF95;
    text-decoration: none;
    text-align: right;
    font-size: 2.8rem;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    margin: 0 1%;
    transition: font-weight 1s;
}

#logo:focus, #logo:hover {
    font-weight: 700
}

.menu_drop {
    color: #0FFF95;
    text-decoration: none;
    cursor: pointer;
    padding: 9px;
    transition: font-weight 1s
}

.menu_drop:hover, .menu_drop:focus {
    font-weight: 900;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color:#0FFF95;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: font-weight 1s
}

.dropdown-content a:hover {
    font-weight: 900;
}

.show {
    display:block;
}

#main_body {
    display: flex;
    flex-flow: column nowrap;
}

#main_body h1 {
    font-size: 4rem;
    font-weight: 800;
    text-transform: lowercase;
    text-align: center;
}

#main_body p {
    margin: 0 12%;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
}

.home_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3em;
    min-height: 75vh;
}

#picture_of_me {
    mix-blend-mode: normal;
    width: 45%;
    height: 45%;
}

#arrow {
    color: #0FFF95;
    width: 3%;
    align-self: flex-end;
}

.about, .projects, .contact {
    min-height: 100vh;
}